<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>html5-camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id="buttonContainer" text-center>
    <ion-button color="success" style="margin-right: 20px" (click)="initialize()">INITIALIZE</ion-button>
    <ion-button color="danger"  style="margin-left: 20px" (click)="dispose()"    >DISPOSE   </ion-button>
  </div>

  <div id="container"></div>

  <div id="foundBarcodeHeader">Found the following barcode:</div>
  <div id="barcodeFormat">{{barcodeFormat}}</div>
  <div id="barcodeText">{{barcodeText}}</div>

</ion-content>
