<ion-header>
  <ion-navbar>
    <ion-title>Scanbot SDK Demo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid padding>
    <ion-row>
      <ion-col col-12>
        <button ion-button block (click)="startCameraUi()">
          <ion-icon name="ios-camera"></ion-icon> &nbsp; Open Document Scanner
        </button>
      </ion-col>
      <ion-col col-12>
        <button ion-button block (click)="pickImageFromGallery()">
          <ion-icon name="ios-open"></ion-icon> &nbsp; Pick Image From Gallery
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col padding col-3 *ngFor='let page of pages'
        [style.backgroundColor]='page == selectedPage ? "#ddd" : null'
        (tap)='onImagePreviewTapped(page)'>
        <img [src]='normalizeImageFileUri(page.documentPreviewImageFileUri || page.originalPreviewImageFileUri)'/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="selectedPage">
    <img [src]="normalizeImageFileUri(selectedPage.documentPreviewImageFileUri || selectedPage.originalPreviewImageFileUri)"/>
  </ion-card>

  <ion-grid padding>
    <ion-row>
      <ion-col col-12>
        <button ion-button block (click)="presentPageEditActionsSheet()">
          <ion-icon name="create"></ion-icon> &nbsp; Edit Page
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding>
    <ion-row>
      <ion-col col-12>
        <button ion-button block (click)="performOcr()">
          <ion-icon name="paper"></ion-icon> &nbsp; Perform OCR
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="createPdf()">
          <ion-icon name="ios-document"></ion-icon> &nbsp; Create PDF
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="writeTiff()">
          <ion-icon name="ios-document"></ion-icon> &nbsp; Create TIFF
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding>
    <button ion-button block (click)="cleanup()">
      <ion-icon name="trash"></ion-icon> &nbsp; Clean up (Delete all Pages)
    </button>
  </ion-grid>

  <div padding>
  </div>

  <div padding>
    <button ion-button block (click)="startMrzScanner()">
      <ion-icon name="ios-barcode"></ion-icon> &nbsp; Start MRZ Scanner
    </button>
  </div>

  <div padding>
    <button ion-button block (click)="startBarcodeScannerUi()">
      <ion-icon name="ios-barcode"></ion-icon> &nbsp; Start Barcode Scanner
    </button>
  </div>

</ion-content>
