<ion-header>
  <ion-navbar>
    <ion-title>Scanbot SDK UI</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding>
    <button ion-button block (click)="startCameraUi()">
      <ion-icon name="ios-camera"></ion-icon> &nbsp; Start Camera UI
    </button>
  </div>

  <div padding>
    <button ion-button block *ngIf="currentOriginalImageUri" (click)="startCroppingUi()">
      <ion-icon name="ios-crop"></ion-icon> &nbsp; Start Cropping UI
    </button>
  </div>

  <ion-card *ngIf="currentDocumentImageUri">
    <img [src]="currentDocumentImageUri"/>
  </ion-card>

  <div padding>
    <button ion-button block *ngIf="currentDocumentImageUri" (click)="roateImage()">
      <ion-icon name="ios-refresh"></ion-icon> &nbsp; Rotate Image CW
    </button>
  </div>

  <div padding>
    <button ion-button block *ngIf="currentDocumentImageUri" (click)="createPdf()">
      <ion-icon name="ios-document"></ion-icon> &nbsp; Create PDF
    </button>
    <p *ngIf="pdfFileUri">
      PDF created. Please see:
      <br>
      {{pdfFileUri}}
    </p>
  </div>

  <div padding>
    <button ion-button block (click)="startBarcodeScannerUi()">
      <ion-icon name="ios-barcode"></ion-icon> &nbsp; Start Barcode Scanner
    </button>
    <p>
      {{barcodeResult}}
    </p>
  </div>

</ion-content>
