
.section-container {
  background-color: #e2e2e2;
  padding-bottom: 2%
};

.section-header {
  color: #FFFFFF;
  --background: #c8193c;
};

.section-item {
  padding: 0.5%;
};

.section-item-container {
  background-color: #FFFFFF;
  padding-left: 4%;
};
