<ion-content >
    <ion-item-group *ngFor="let section of sectionListData">
        <ion-item class="section-header">
            <ion-label>
                <h2>{{section.title}}</h2>
            </ion-label>
        </ion-item>
        <ion-item *ngFor="let data of section.data">
            <ion-col class="section-item" *ngIf="data.value !== undefined" >
                <p style="font-weight: bold">{{data.key}}</p>
                <p>{{data.value}}</p>
            </ion-col>
            <ion-item class="section-item-container" *ngIf="data.image !== undefined" >
                <ion-img style="width: 100%;height: auto" [src]="data.image" alt="Image Result"/>
            </ion-item>
            <ion-col class="section-item" *ngIf="data.field !== undefined">
                <p style="font-weight: bold" *ngIf="data.key">{{data.key}}</p>
                <p *ngIf="data.field?.value?.text !== undefined">
                    Value: {{data.field!.value!.text}}</p>
                <p *ngIf="data.field?.value?.confidence !== undefined">
                    Confidence: {{data.field!.value!.confidence}}</p>
                <p *ngIf="data.field?.validationStatus !== undefined">
                    {{data.field!.validationStatus}}</p>
            </ion-col>
        </ion-item>
    </ion-item-group>
</ion-content>
