
.section-container {
  background-color: #e2e2e2;
  padding-bottom: 2%
};

.section-header {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0%;
  color: #FFFFFF;
  background-color: #c8193c;
};

.section-item {
  padding: 0.5%;
};

.section-item-container {
  background-color: #FFFFFF;
  padding-left: 4%;
};
