<ion-header>
  <ion-toolbar>
    <ion-title>
      Scanbot SDK Ionic Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-list>
      <ion-list-header>
        <ion-label text-uppercase>Document Scanner</ion-label>
      </ion-list-header>
      <ion-item (click)="startDocumentScanner()">
        <ion-label>Scan Document</ion-label>
      </ion-item>
      <ion-item (click)="pickImageFromPhotoLibrary()">
        <ion-label>Import Image</ion-label>
      </ion-item>
      <ion-item (click)="gotoImageResults()" detail>
        <ion-label>View Image Results</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label text-uppercase>Data Detectors</ion-label>
      </ion-list-header>
      <ion-item (click)="startBarcodeScanner()">
        <ion-label>Scan QR-/Barcode</ion-label>
      </ion-item>
      <ion-item (click)="startMrzScanner()">
        <ion-label>Scan MRZ</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label text-uppercase>Miscellaneous</ion-label>
      </ion-list-header>
      <ion-item (click)="setAcceptedFormats()">
        <ion-label>Set Barcode Formats</ion-label>
      </ion-item>
      <ion-item (click)="viewLicenseInfo()">
        <ion-label>View License Info</ion-label>
      </ion-item>
      <ion-item>
        <a ion-item href="https://scanbot.io/sdk" target="_blank" rel="noopener">
          Learn More About the Scanbot SDK
        </a>
      </ion-item>
    </ion-list>

  </div>

  <div class="copyright-label">
    Copyright (c) 2020 doo GmbH. All rights reserved.
  </div>

</ion-content>
